@use '../../_css/queries.scss' as *;

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #034C8B;
  padding: 8px 0;
  z-index: 1010; 
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; 
}

.logo {
  width: 200px;
  margin-right: 20px; 
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1; // Allows searchBar to expand
  max-width: 650px; // Increases the maximum width
}

.categorySelect {
  width: 150px; // Fixed width for the select category button
  height: 40px;
  padding: 0 15px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
}

.searchInput {
  flex-grow: 1; // Allows for equal growth within the search bar
  height: 40px;
  padding: 0 15px;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  border-radius: 51px;
}



.nav {
  display: flex;
  gap: 20px; // Adjusted for more consistent spacing
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10px; // Added padding for better edge alignment

  > * {
    text-decoration: none;
    color: white; // Ensures all elements inside nav are white
  }

  .icon {
    width: 24px; // Standard size for icons
    height: 24px; // Maintain aspect ratio
    vertical-align: middle;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 5px; // Optional for rounded touch

    &:hover {
      background-color: rgba(255, 255, 255, 0.2); // Hover effect for better interaction
    }
  }

  /* Style for the "Login" and "Create Account" links if they include text */
  a.login-link,
  a.create-account-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px; // Sufficient padding for clickable area
  }
}

.hide {
  opacity: 0;
  transition: opacity 100ms linear;
  visibility: hidden;
}



.userLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px; // Space between buttons

  .userLink {
    color: white; // Ensures text is white
    padding: 8px 15px;
    background-color: #035C9B; // Darker shade for distinction
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #034C8B; // Slightly lighter on hover
    }
  }
}