// @use './queries.scss' as *;
// @use './colors.scss' as *;
// @use './type.scss' as *;
// @import "./theme.scss";

// :root {
//   --base: 24px;
//   --font-body: system-ui;
//   --font-mono: 'Roboto Mono', monospace;

//   --gutter-h: 180px;
//   --block-padding: 120px;

//   @include large-break {
//     --gutter-h: 144px;
//     --block-padding: 96px;
//   }

//   @include mid-break {
//     --gutter-h: 24px;
//     --block-padding: 60px;
//   }
// }

// * {
//   box-sizing: border-box;
// }

// html {
//   @extend %body;
//   background: var(--theme-bg);
//   -webkit-font-smoothing: antialiased;
//   opacity: 0;

//   &[data-theme=dark],
//   &[data-theme=light] {
//     opacity: initial;
//   }
// }

// html,
// body,
// #app {
//   height: 100%;
// }

// body {
//   font-family: var(--font-body);
//   margin: 0;
//   color: var(--theme-text);
// }

// ::selection {
//   background: var(--theme-success-500);
//   color: var(--color-base-800);
// }

// ::-moz-selection {
//   background: var(--theme-success-500);
//   color: var(--color-base-800);
// }

// img {
//   max-width: 100%;
//   height: auto;
//   display: block;
// }

// h1 {
//   @extend %h1;
// }

// h2 {
//   @extend %h2;
// }

// h3 {
//   @extend %h3;
// }

// h4 {
//   @extend %h4;
// }

// h5 {
//   @extend %h5;
// }

// h6 {
//   @extend %h6;
// }

// p {
//   margin: var(--base) 0;

//   @include mid-break {
//     margin: calc(var(--base) * .75) 0;
//   }
// }

// ul,
// ol {
//   padding-left: var(--base);
//   margin: 0 0 var(--base);
// }

// a {
//   color: currentColor;

//   &:focus {
//     opacity: .8;
//     outline: none;
//   }

//   &:active {
//     opacity: .7;
//     outline: none;
//   }
// }

// svg {
//   vertical-align: middle;
// }


@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;
@import "./theme.scss";

:root {
  --base: 24px;
  --font-body: system-ui;
  --font-mono: 'Roboto Mono', monospace;

  --gutter-h: 180px;
  --block-padding: 120px;

  @include large-break {
    --gutter-h: 144px;
    --block-padding: 96px;
  }

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
}

* {
  box-sizing: border-box;
}

html {
  @extend %body;
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;
  opacity: 0;

  &[data-theme=dark],
  &[data-theme=light] {
    opacity: initial;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-body);
  margin: 0;
  color: var(--theme-text);
}

::selection {
  background: var(--theme-success-500);
  color: var(--color-base-800);
}

::-moz-selection {
  background: var(--theme-success-500);
  color: var(--color-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: var(--base) 0;

  @include mid-break {
    margin: calc(var(--base) * .75) 0;
  }
}

ul,
ol {
  padding-left: var(--base);
  margin: 0 0 var(--base);
}

a {
  color: currentColor;

  &:focus {
    opacity: .8;
    outline: none;
  }

  &:active {
    opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

/* Added styles for the navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.categoriesButton, .garageButton {
  background-color: #ffa500;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.categoriesButton .icon, .garageButton .garageIcon {
  margin-right: 5px;
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  position: relative;
}

.navLink:hover {
  color: #ff6600;
}

.navLink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: width .3s;
}

.navLink:hover::after {
  width: 100%;
}

.newBadge::after {
  content: ' New!';
  color: white;
  background-color: green;
  padding: 2px 5px;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 0.8em;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding: 20px;
  }

  .center {
    flex-direction: column;
  }

  .navLink {
    margin: 10px 0;
  }

  .left, .right {
    justify-content: center;
    margin: 10px 0;
  }
}
