@use '../../../_css/queries.scss' as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 120px; 
  left: 0;
  z-index: 1000; 
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
}

.categoriesButton, .garageButton {
  background-color: #ffa500;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.categoriesButton .icon, .garageButton .garageIcon {
  margin-right: 5px;
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  position: relative;
}

.navLink:hover {
  color: #ff6600;
}

.navLink::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff6600;
  transition: width .3s;
}

.navLink:hover::after {
  width: 100%;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    top: 50px; 
    flex-direction: column;
    padding: 20px;
  }


  .center {
    flex-direction: column;
  }

  .navLink {
    margin: 10px 0;
  }

  .left, .right {
    justify-content: center;
    margin: 10px 0;
  }


}
.mainContent {
  margin-top: 120px; // Adjust based on the combined heights of the header and navbar
}


